.App {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
}

* {
  box-sizing: border-box;
}

ul.students {
  list-style: none;
  padding: 0;
  display: grid;

  box-sizing: border-box;
}

li.student {
  border: 2px solid;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: 100%;
  border-top-width: 4px;
  border-bottom-width: 4px;

  align-items: center;
}

div.student-name {
}

ul.student-grades {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
}

ul.student-grades li.grade {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.student-grades li {
  border: 1px solid black;
}

li.first-student {
  border-left-width: 4px;
}

li.last-student {
  border-right-width: 4px;
}
